name: Release
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed
  workflow_dispatch: {}

jobs:
  publish:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install pdm
      - name: Build packages
        run: pdm build
      - name: Publish distribution to Test PyPI
        run: |
          pdm publish --no-build
        env:
          PDM_PUBLISH_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
          PDM_PUBLISH_USERNAME: '__token__'
          PDM_PUBLISH_REPO: 'https://test.pypi.org/legacy/'
      - name: Publish distribution to PRODUCTION PyPI
        # if: false
        run: |
          pdm publish --no-build
        env:
          PDM_PUBLISH_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
          PDM_PUBLISH_USERNAME: '__token__'
  bump-version: # Bump version for the next release
    needs: publish
    runs-on: ubuntu-latest
    # Bump version in the PR that targets the "main" branch
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install pdm
          pdm self add pdm-bump
      - name: Bump version
        run: |
          git config --global user.email "github+actions@gmail.com"
          git config --global user.name "Actions"
          pdm bump patch
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Bump version for next release"
          create_branch: false