name: Release
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed
  # workflow_dispatch: {}

permissions:
  pages: write # allow publishing to GitHub Pages
  id-token: write
  

jobs:
  start:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Start release
        run: echo "Starting release process"
  docs:
    needs: start
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install pdm
          pdm install -G docs
      - name: Sphinx build
        run: |
          pdm run doc
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload entire repository
          path: './dist/docs/html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
  publish:
    needs: start
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install pdm
      - name: Build packages
        run: pdm build
      - name: Publish distribution to Test PyPI
        run: |
          pdm publish --no-build
        env:
          PDM_PUBLISH_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
          PDM_PUBLISH_USERNAME: '__token__'
          PDM_PUBLISH_REPO: 'https://test.pypi.org/legacy/'
      - name: Publish distribution to PRODUCTION PyPI
        # if: false
        run: |
          pdm publish --no-build
        env:
          PDM_PUBLISH_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
          PDM_PUBLISH_USERNAME: '__token__'
  bump-version: # Bump version for the next release
    needs: publish
    runs-on: ubuntu-latest
    # Bump version in the PR that targets the "main" branch
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.RELEASE_ART_WORKFLOW_APP_ID }}
          private-key: ${{ secrets.RELEASE_ART_WORKFLOW_APP_PK }}
      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: true
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install pdm
          pdm self add pdm-bump
      - name: Bump version
        run: |
          pdm bump patch
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_user_name: ${{ steps.app-token.outputs.app-slug }}[bot]
          commit_user_email: ${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com
          commit_message: |-
            [ci skip] Bump version for next release


            skip-checks: true
          create_branch: false